/* Remove scrollbar */
html, body {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

html {
    scroll-padding-top: calc(3rem + 80px);
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

body, .card, .btn {
    background-color: #000000;
    color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Custom font */
.merienda {
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    line-height: 1.5;
}

.gradient-text, .nav-link.active, .nav-link:hover, .bi {
    background: linear-gradient(270deg, #7b2ff7, #004fb6, #ff6ec4, #ef9306, #de1058, #7b2ff7);
    background-size: 400% 100%;
    background-repeat: repeat-x;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-outline {
    padding: 3px;
    background: linear-gradient(270deg, #7b2ff7, #0061e0, #ff6ec4, #ef9306, #de1058, #7b2ff7);
    background-size: 400% 100%;
}

.fade-in {
    opacity: 0;
    display: inline-block;
    transform: translateY(20px);
}

.fade-in-visible.gradient-text, .fade-in-visible.gradient-outline, .fade-in-visible {
    animation: fadeInUp 0.6s ease-out forwards, gradient-wave 15s linear infinite;
}

.main {
    padding-top: 56px;
}

.section-title {
    font-size: 3rem;
    font-weight: bold;
}


/* Navbar */

.navbar {
    background-color: rgba(0, 0, 0, 0.8);
}

.nav-link {
    color: white;
}

.navbar-toggler-icon {
    filter: invert(var(--toggler-invert, 1));
}


/* About me Section */

#greeting {
    font-size: 3rem;
    margin-bottom: 0;
}

#name {
    font-size: 9rem;
    font-weight: bold;
}

#intro-text {
    font-size: 2rem;
    margin-bottom: 0;
}

/* Skills Section */

.skill-card {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ANIMATIONS */

@keyframes gradient-wave {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 400% 50%;
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 800px) {
    #greeting {
        font-size: 2rem;
    }
    
    #name {
        font-size: 6rem;
    }
    
    #intro-text {
        font-size: 1.5rem;
    }

    .section-title {
        font-size: 2rem;
        font-weight: bold;
    }
}